---
import Layout from './Layout.astro';
import Sidebar from '../components/sidebar/Sidebar.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---
<Layout title={title}>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="lg:flex lg:gap-12">
      <main class="flex-1">
        <slot />
      </main>
      <Sidebar />
    </div>
  </div>
</Layout>